<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite Ujian Minggu 3 - achmadqiz" verbose="1">

    <test name="Login Tests">
        <classes>
            <class name="juaracoding.achmadqiz.LoginTest"/>
        </classes>
    </test>

    <test name="Add to Cart Tests">
        <classes>
            <class name="juaracoding.achmadqiz.AddToCartTest"/>
        </classes>
    </test>

</suite>
